@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700;800&display=swap');

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;


  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  text-decoration: inherit;
}
a:hover {
  color: #FF4432;
}

body {
  margin: 0;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;

  scrollbar-color: transparent transparent; 
}

body::-webkit-scrollbar {
  width: 8px; /* ширина скроллбара */
}

body::-webkit-scrollbar-track {
  background-color: transparent; /* прозрачный фон трека */
}
body::-webkit-scrollbar-thumb {
  background-color: transparent; /* прозрачный фон ползунка */
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #FF4432;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}